<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Front-End Developer Capstone Project</title>
</head>
<body>
    <div class="container">
        <header class="header box">
            <h1>Trip Planner</h1>
        </header>
        <div class="cover box"></div>
        <main class="content box">
            <section class="form box">
                <form class="">
                    <div class="form_item">
                        <label for="destination">Destination:</label>
                        <input id="destination" type="text" name="input" value="" placeholder="Chicago IL US">
                    </div>
                    <div class="form_item">
                        <label for="start">Travel Start:</label>
                        <input id="start" type="date" name="input" value="">
                    </div>
                    <div class="form_item">
                        <input id="add_trip" type="submit" name="" value="Add Trip">
                    </div>
                </form>
            </section>
            <section id="trip_grid">
            </section>
        </main>
        <footer class="footer box">
            <p>Thanks for visiting my website!</p>
        </footer>
    </div>
</body>
</html>