form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 10px 20px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    box-sizing: border-box;
}

label {
    font-weight: bold;
}