.trip_post{
    display: grid;
    width: 100%;
    height: 200px;
    grid-template-columns: 300px 1fr;
    grid-template-areas:
    "left right";
    border: 1px solid lightgray;
    border-radius: 5px;
    justify-self: center;
}

.left{
    grid-area: left;
}

.right{
    grid-area: right;
    padding-left: 20px;
}